@model IEnumerable<ASP_MVC_Projet_site_illu.Models.ProductListItemViewModel>

   @inject BLL_Projet_site_illu.Services.CategoryService categoryService

    @{
    ViewData["Title"] = "créations";
    }

    <h1>Mes créations</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name_Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description_Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price_Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name_Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description_Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price_Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Category)
                </td>
                <td>  
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })                    
                </td>
            </tr>
}
        </tbody>
    </table>

    <br />
    <br />
    <br />
    <br />

   
    <h2>Recherchez des produits par catégorie(s) : </h2>
    <h4>Cochez une ou plusieurs catégories, puis cliquer sur le bouton "rechercher"</h4>
    <form method="get" action="">
        <h5> Catégories: </h5>
        @foreach (string CategoryName in categoryService.Get())
        {
            <div>
                <input id="chbx_@CategoryName" type="checkbox" name="selectedCateg" value="@CategoryName" />
                <label for="chbx_@CategoryName">@CategoryName</label>
            </div>
        }
        <br />
        <input type="submit" value="Rechercher">
    </form>

    <br />

    @if (ViewBag.filter)
    {
        <div>
            <a asp-action="Index">Revenir à la liste complète</a>
        </div>
    }
    
